.DS_Store
.env
.idea
.vscode
/*/.vscode
/*/*/.vscode
/*/*/*/.vscode
__pycache__
/*/__pycache__
/*/*/__pycache__
/*/*/*/__pycache__
.pytest_cache
/*/.pytest_cache 
/*/*/.pytest_cache 
/*/*/*/.pytest_cache 
.ipynb_checkpoints
/*/.ipynb_checkpoints
/*/*/.ipynb_checkpoints
/*/*/*/.ipynb_checkpoints
/*/*/*/*/.ipynb_checkpoints
.gitkeep
/*/.gitkeep
/*/*/.gitkeep
/*/*/*/.gitkeep